<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
    <div id="adm_wrap">
        <header>
            <div class="head">
                <h1>Authentication Server</h1>
                <div class="top_menu">
                    <div class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${session.loginMEmber.name}]]</strong>님 반갑습니다.</div>
                    <div class="logout">
                        <form action="members/logout" method="post">
                            <button type="submit"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </div>                </div>
            </div>
        </header>

        <div id="container">
            <div class="menu_toggle"><span></span></div>
            <!--/* 좌측 영역 */-->
            <div class="lcontent">
                <!--/* 메뉴 */-->
                <nav>
                    <ul>
                        <li><span>회원 관리</span></li>
                    </ul>
                </nav>
            </div>

            <div class="rcontent">

                <th:block layout:fragment="content"></th:block>

            </div>
        </div> <!--/* // #container */-->
        <footer>Copyright(c)네임즈.All rights reserved.</footer>
    </div>

    <script th:src="@{/js/function.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <th:block layout:fragment="script"></th:block>
</body>
</html>